html,
body {
	text-align: center;
	font-family: "Inter", sans-serif;
	min-height: 100vh;
	color: #535353;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: rgba(196, 196, 196, 0.3);
	overflow-x: hidden;
}
.App {
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	align-content: space-between;
	min-width: 450px;
}

a {
	color: #32403b;
	font-weight: bold;
	text-decoration: none !important;
}
a :hover {
	color: black;
}

* {
	box-sizing: border-box;
}

/*  Modifying ant design */
.ant-form-item {
	margin-bottom: 0;
}
.ant-modal-body {
	padding-top: 0;
}
.ant-card-body {
	padding: 10px;
	min-height: 217px;
}
.ant-col-8 {
	display: flex;
	justify-content: flex-start;
}
.ant-btn {
	white-space: none;
}
